/* project page stylesheet */

section.project .dummy-padding {
  padding-top: 4.5rem;
}

section.project .heading {
  padding-top: 2rem;
  border-top: 2px solid var(--base-dark-blue);
}

section.project .heading h1 {
  color: var(--base-light-blue);
  font-size: 4rem;
}

section.project .heading h3 {
  color: var(--base-readable-blue);
  font-size: 1.5rem;
}

section.project .content h2 {
  font-size: 2rem;
  font-weight: 700;
  text-align: left;
}

section.project .image-container {
  text-decoration: none;
  color: var(--base-light-blue);
}

section.project .image-container:hover {
  text-decoration: none;
  color: var(--base-readable-blue);
}

section.project .content p {
  font-size: 2rem;
  text-align: left;
  text-transform: none;
}

section.project .content ul {
  font-size: 2rem;
  margin-left: 3rem;
  text-align: left;
}

section.project .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20vw;
  padding-right: 20vw;
  padding-top: 2rem;
}

section.project .image-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
}

section.project .image {
  width: 60vw;
  height: auto;
  border-radius: 10px;
}

section.project .gif {
  width: 25vw;
  height: auto;
  border-radius: 10px;
}
