/* all projects page stylesheet */

/* projects section starts */
.projects{
  background: var(--base-dark-blue);
  margin-top: 6.5rem;
  border-bottom: 2px solid var(--base-light-grey);
}
.projects h2 {
  color: var(--base-light-grey);
  padding: 1rem;
}
.projects .heading span{
  color: var(--nightwing-blue);
}
.projects .button-group{
  display: flex;
  flex-wrap: wrap;
  gap:1rem;
  margin: 2rem auto;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.projects .button-group .btn{
  outline: none;
  padding: 1rem 2rem;
  background: transparent;
  color: var(--base-light-grey);
  border: 1px solid var(--base-light-grey);
  border-radius: 3px;
  cursor: pointer;
  font-weight: 500;
}
.projects .button-group .btn:hover{
  background-color: var(--base-light-grey);
  color: var(--base-dark-blue);
}
.projects .button-group .btn.is-checked{
  background-color: var(--base-light-grey);
  color: var(--base-dark-blue);
}
.projects .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  margin: 2rem;
}
.projects .box-container .box{
  flex:1 1 30rem;
  border-radius: .5rem;
  box-shadow: 0 .7rem 1rem rgba(0,0,0,.3);
  position: relative;
  overflow:hidden;
  height:30rem;
  background: var(--base-light-grey);
  border: none;
}
.projects .box-container .box img{
  height: 100%;
  width:100%;
  object-fit: cover;
}
.projects .box-container .box .content{
  height: 100%;
  width:100%;
  position: absolute;
  top:85%; left:0;
  background:rgba(211, 211, 211, 0.9);
  display: flex;
  flex-direction: column;
}
.projects .box-container .box .content .tag{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 4.5rem;
  width: 100%;
  padding-left: 1rem;
  background: var(--nightwing-blue);
}
.projects .box-container .box .content .tag h3{
  font-size: 2rem;
}
.projects .box-container .box:hover .content{
  top: 25%;
}
.projects .desc {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.projects .desc p{
  font-size: 1.5rem;
}
.projects .desc .btns{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 2rem;
}
.projects .desc .btns .btn{
  line-height: 0;
  display: inline;
  padding: 1.5rem 2.5rem;
  border-radius: .5rem;
  font-size: 1.5rem;
  color: var(--base-light-grey);
  background: var(--base-dark-blue);
  margin-right: 2rem;
}
.projects .desc .btns .btn:hover{
  background: var(--base-readable-blue);
}


@media screen and (max-width: 450px) {
  .projects .button-group{
    width: 100%;
  }
  .projects .box-container{
    margin: 0rem;
  }
  .projects .box-container .grid-item .box{
    width: 95% !important;
  }
}

/* back to home button */
.backbtn{
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 4rem;
}
.backbtn .btn {
  position: relative;
  line-height: 0;
  padding: 1.6rem 3rem;
  border-radius: .5em;
  transition: 0.3s;
  color: var(--base-light-grey);
  border: 2px solid var(--base-light-grey);
  box-shadow: 0px 2px 4px rgba(211, 211, 211, .9);
  text-align: center;
}
.backbtn .btn span {
  font-weight: 600;
  font-size: 1.7rem;
  font-family: 'Nunito', sans-serif;
}
.backbtn .btn i {
  margin-right: 0.5rem;
  font-size: 1.5rem;
  transition: 0.3s;
}
.backbtn .btn:hover{
  background: var(--base-light-grey);
  color: var(--base-dark-blue);
}
.backbtn .btn:hover i {
  transform: translateX(-8px);
}
/* projects section ends */
