/* resume page stylesheet */

section.resume {
    padding: 0;
}
section.resume .dummy-padding {
    padding-top: 6.5rem;
}
.content {
    width: 100%;
    height: 100vh;
}
.content object {
    width: 100%;
    height: 100%;
}
