<!-- header component html -->

<!-- header starts -->
<header class="header">
    <a id="logo-link" href="/" class="logo">
      <img id="logo-img" src="/assets/navbar/logo.png" alt="Logo">
      Alex Thomas
    </a>

    <div id="menu" class="fas fa-bars"></div>
    <nav class="navbar">
        <ul>
        <li><a href="/src/components/resume">Resume</a></li>
        <li><a href="/#home">Home</a></li>
        <li><a href="/#about">About</a></li>
        <li><a href="/#projects">Projects</a></li>
        <li><a href="/#experience">Experience</a></li>
        </li>
        </ul>
    </nav>
</header>
<!-- header ends -->

<!-- SCRIPTS GO HERE -->
<script src="/src/components/header/header.js"></script>
