/* footer component stylesheet */

/* footer section starts */
  .footer {
    min-height: auto;
    padding-top: 0;
    background: var(--base-dark-blue);
  }
  .footer .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .footer .box-container .box {
    flex: 1 1 25rem;
    margin: 2.5rem;
  }
  .footer .box-container .box h3 {
    font-size: 2.5rem;
    color: var(--base-light-grey);
    padding-bottom: 1rem;
    font-weight: normal;
  }
  .footer .box-container .box p {
    font-size: 1.5rem;
    color: var(--base-light-grey);
    padding: 0.7rem 0;
    text-transform: none;
  }
  .footer .box-container .box p i {
    padding-right: 1rem;
    color: var(--nightwing-blue);
  }
  .footer .box-container .box a {
    font-size: 1.5rem;
    color: var(--base-light-grey);
    padding: 0.3rem 0;
    display: block;
  }
  .footer .box-container .box a:hover {
    color: var(--nightwing-blue);
  }
  .footer .box-container .box .share {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
  }
  .footer .box-container .box .share a {
    height: 4rem;
    width: 4rem;
    padding: 1rem;
    text-align: center;
    border-radius: 5rem;
    font-size: 1.7rem;
    margin-right: 1rem;
    transition: 0.2s;
    background: var(--base-light-grey);
    color: var(--base-dark-blue);
    border: none;
  }
  .footer .box-container .box .share a:hover {
    background: transparent;
    transform: scale(0.98);
    border: 0.1rem solid var(--base-light-grey);
    color: var(--nightwing-blue);
  }

  @media (max-width: 450px) {
    .footer .box-container .box {
      margin: 1.5rem;
    }
    .footer .box-container .box p {
      padding: 0.7rem;
    }
    .footer .box-container .box .share a {
      padding: 1.2rem;
    }
  }
/* footer section ends */
