<!-- footer component html -->

<!-- footer section starts -->
<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>Let's Connect!</h3>
            <p>I'm a team player with a passion for learning and developing new software.</p>
            <p>Let's Connect and talk about what work we can do together.</p>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <div class="share">
                <a href="https://www.linkedin.com/in/alexjosthomas/" class="fab fa-linkedin" aria-label="LinkedIn" target="_blank"></a>
                <a href="mailto:alexjosthomas@gmail.com" class="fas fa-envelope" aria-label="Mail" target="_blank"></a>
                <a href="https://github.com/athom031/" class="fab fa-github" aria-label="GitHub" target="_blank"></a>
            </div>
            <p> <i class="fas fa-map-marked-alt"></i>San Francisco, CA</p>
        </div>
    </div>
</section>
