/* box_bot_hackathon styles */

section.project_box_bot_hackathon .dummy-padding {
  padding-top: 6.5rem;
}

section.project_box_bot_hackathon .heading {
  border-top: 2px solid var(--base-dark-blue);
}

section.project_box_bot_hackathon .heading h1 {
  color: var(--base-light-blue);
  font-size: 4rem;
}

section.project_box_bot_hackathon .heading h3 {
  color: var(--base-readable-blue);
  font-size: 1.5rem;
}

section.project_box_bot_hackathon .content h2 {
  font-size: 2rem;
  text-align: left;
}

section.project_box_bot_hackathon .content p {
  font-size: 1.5rem;
  text-align: left;
}

section.project_box_bot_hackathon .content ul {
  font-size: 1.5rem;
  margin-left: 3rem;
  text-align: left;
}

section.project_box_bot_hackathon .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.project_box_bot_hackathon .image {
  width: 60vw;
  height: auto;
  border-radius: 10px;
  padding-top: 2em;
  padding-bottom: 2em;
}

section.project_box_bot_hackathon .gif {
  width: 25vw;
  height: auto;
}
