/* box_bot_hackathon styles */

section.project_box_bot_hackathon .heading {
  padding-top: 6.5rem;
}

.project_box_bot_hackathon .heading::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--base-dark-blue);
}

section.project_box_bot_hackathon .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.project_box_bot_hackathon .image {
  width: 75vw;
  height: auto;
  border-radius: 10px;
  padding-top: 2em;
  padding-bottom: 2em;
}

section.project_box_bot_hackathon .gif {
  width: 25vw;
  height: auto;
}
