/* box_bot_hackathon styles */

section.project_box_bot_hackathon .heading {
  padding-top: 6.5rem;
}

section.project_box_bot_hackathon.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.project_box_bot_hackathon .image {
  width: 75vw;
  height: auto;
  margin: 0 auto;
}

section.project_box_bot_hackathon .gif {
  width: 25vw;
  height: auto;
  margin: 0 auto;
}
