/* box_bot_hackathon styles */

section.project_box_bot_hackathon .heading {
  padding-top: 6.5rem;
  position: relative;
}

section.project_box_bot_hackathon .heading h1 {
  color: var(--base-light-blue);
  font-size: 4rem;
}

section.project_box_bot_hackathon .heading h3 {
  color: var(--base-readable-blue);
  font-size: 2rem;
}

section.project_box_bot_hackathon .content h2 {
  font-size: 3rem;
}

section.project_box_bot_hackathon .content p {
  font-size: 2.5rem;
}

section.project_box_bot_hackathon .heading::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--base-dark-blue);
}

section.project_box_bot_hackathon .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.project_box_bot_hackathon .image {
  width: 60vw;
  height: auto;
  border-radius: 10px;
  padding-top: 2em;
  padding-bottom: 2em;
}

section.project_box_bot_hackathon .gif {
  width: 25vw;
  height: auto;
}
